/*======= index.html =======*/

#page1 .col-1 {width: 334px; padding: 0 10px 0 0;}
#page1 .col-2 {width: 334px;}

/*======= index-1.html =======*/

#page2 .col-1 {width: 334px; padding: 0 10px 0 0;}
#page2 .col-2 {width: 334px;}