@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="span9">
        <h3>@ViewBag.Title</h3>
        <div class="row">
            <div class="span3">
                <section id="login">
                    @Html.Partial("_DisplayDetails")
                </section>
            </div>
            <div class="span3"></div>
            <div class="span3"></div>
        </div>
    </div>
</div>
